v: 3

identity:
  cert:             "{{ openziti_router_home }}/{{ openziti_router_name }}.cert"
  server_cert:      "{{ openziti_router_home }}/{{ openziti_router_name }}.server.chain.cert"
  key:              "{{ openziti_router_home }}/{{ openziti_router_name }}.key"
  ca:               "{{ openziti_router_home }}/{{ openziti_router_name }}.cas"

ctrl:
  endpoint:             tls:{{ openziti_ctrl_advertised_address }}:{{ openziti_ctrl_advertised_port }}

link:
{% if openziti_router_links.dialers is defined %}
  dialers:
{%- for dialer in openziti_router_links.dialers %} 
    - binding: transport
      groups: {{ dialer.groups }}
{% endfor %}
{%- endif %}

{% if openziti_router_links.listeners is defined %}
  listeners:
{% for listener in openziti_router_links.listeners %}
    - binding:          transport
      bind:             {{ listener.bind }}
      advertise:        {{ listener.advertise }}
      groups: {{ listener.groups }}
      options:
        outQueueSize:   4
{% endfor %}
{%- endif %}

listeners:
  - binding: edge
    address: tls:0.0.0.0:{{ openziti_router_port }}
    options:
      advertise: {{ openziti_router_advertised_address }}:{{ openziti_router_port }}
      connectTimeoutMs: 5000
      getSessionTimeout: 60

{% if openziti_router_tunnel_enabled %}
  - binding: tunnel
    options:
      mode: {{ openziti_router_mode }}
{% endif %}

edge:
  csr:
    country: {{ openziti_pki_country }}
    province: {{ openziti_pki_province }}
    locality: {{ openziti_pki_locality }}
    organization: {{ openziti_pki_organisation }}
    organizationalUnit: {{ openziti_pki_organisational_unit }}
{% if openziti_sans is defined %}
    sans: {{ openziti_sans }}
{% else %}
    sans:
      dns:
        - localhost
        {% if not (openziti_router_advertised_address | ansible.utils.ipaddr) -%}
        - {{ openziti_router_advertised_address }}
        {%- endif%}

      ip:
        - "127.0.0.1"
        - "::1"
        {% if (openziti_router_advertised_address | ansible.utils.ipaddr) -%}
        - "{{ openziti_router_advertised_address }}"
        {%- endif %}
{% endif %}


forwarder:
  latencyProbeInterval: 0
  xgressDialQueueLength: 1000
  xgressDialWorkerCount: 128
  linkDialQueueLength: 1000
  linkDialWorkerCount: 32

